{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'dis/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'dis/css/tabs.css' %}">
  <link rel="stylesheet" href="{% static 'dis/css/custom-mobile.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-md  navbar-custom">
        <a href="{% url 'Home' %}" class="navbar-brand">
            <img class="logo" src="{% static 'dis/img/tripdeck-logo.png' %}" alt="TripDeck Logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse"
        <span class="searchbar2">

        </span>
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navbar-list-4">

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                 <a class="dropdown-item" href="{% url 'create' %}">Dashboard</a>
                              <a class="dropdown-item" href="{% url 'account_email' %}">Account Settings</a>
                              <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                            </div>
                          </li>
                        </ul>
                </div>
                {% else %}
                <a href="{% url 'account_login' %}"><button   class="nav-item custom-button1">Login</button></a>
                <a href="{% url 'Signup' %}"><button   class="nav-item custom-button2">Register?</button></a>
                {% endif %}
            </div>
        </div>
     </nav>
{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
<div class="container p-4 justify-content-center align-items-left bg-image">
      <h1 class="main-header">Discover & Explore<span style="color:rgb(235, 235, 235);"> .</span><br><span style="color: #315eff;">Kerala's Best Tourist Places</span></h1>
        <div class="container h-100 p-4">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <form action="{% url 'search_results' %}">
              <input class="search_input" type="text" name="q" placeholder="Search places by names, services...">
              <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                    </form>
            </div>
          </div>
        </div>
    </div>

<div class="container p5">
      <div class="p-5"><h2>Top in Kerala</h2></div>
  <div class="row pl-3 justify-items-center align-items-center" >
    {% for events in object_list %}
        <div class="card custom-card ml-5 border-0 rounded-sm">
                  <img class="card-img-top" src="{{ events.thumbnail.url }}" alt="Card image cap">
                  <div class="card-body">
                    <h6 class="card-title">{{ events.title }}</h6>
                    <span class="label-text1">{{ events.keywords }}</span>
                      <div class="row container pt-2">
                        <div class="column">
                          <span>4.5 </span>
                          <span class="ratings-icons">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                      <div class="column">
                        <span class="review-stats">&ensp;(20)</span>
                      </div>
                      </div>
                       <div class="row">
                      <div class="col-sm-7">
                        <div class="card-text custom-text4">Prices Starting From</div>
                        <div class="card-text custom-text5"><i class="fa fa-inr"></i>{{ events.price }}</div>
                      </div>
                      <div class="col-sm-5 justify-align-right">
                        <center><a href="{% url 'view' events.pk %}"><button  class="nav-item custom-button4">Details</button></center></a>
                      </div>
                    </div>
                  </div>
              </div>

    {% endfor %}
        </div>
</div>
  </div>
 </body>
</html>

<!--Container-->

