{% extends "account/base.html" %}
    {% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class=" mt-5 text-center">
    <br><br>
    <img src="{% static 'dis/img/tripdeck-logo.png' %}" height="40px">
   <h1 class="wizard-title">Welcome Back!</h1>
  </div>
  <div class="container2">
    <div class="form">
      <div class="sign-in-section">
        <form method="POST" action="{% url 'account_login' %}">
          <p class="category">Please sign in to continue.</p>
            {% csrf_token %}
            {{ form|crispy }}
          <div class="form-options">

            <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
          </div>
          <div class="form-field">
            <input style="color:#fff;" type="submit" class="btn btn-signin" value="Submit" />
          </div>
        </form>
        <div class="links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
