{% extends 'base.html'%}
{% block content %}
<div class="container justify-items-center align-items-center">
        <h1 class="mini-header">Select User Type</h1>

        <div class="row p-5">
         <div class="col-lg-6 gauche">
                <div class="container">
                    <div class="reg-type-box1 border">
                        <center>
                            <h3 class="pt-5 custom-font1">I'm a<br>Traveller</span></h3>
                            <a href="{% url 'Tourist_signup' %}"><button  class="nav-item mt-3 custom-button3">Continue</button></a>
                        </center>
                    </div>
                </div>
         </div>

         <div class="col-lg-6 corps">
                <div class="container">
                    <div class="reg-type-box2 border">
                        <center>
                            <h3 class="pt-5  custom-font1">I'm a<br>Service Provider</span></h3>
                            <a href="{% url 'Service' %}"> <button  class="nav-item mt-3 custom-button3">Continue</button></a>
                        </center>
                    </div>
                </div>
         </div>
        </div>
    </div>
{% endblock %}
