/*Start My Custom Nav*/
.body{
    font-family: 'Poppins', sans-serif;

}
.navbar-custom {
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
  }

.logo{
    padding-left: 30px;
    height: 42px;
}
.custom-font1{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    padding-top: 50px;
    font-weight: 400;
    letter-spacing: -2;
    text-align: center;
    padding: 10px;

}
.dropdown-menu{
    background-color: rgb(77, 52, 14);
}
.dropdown-item{
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.main-header{
    font-size: 3.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 20px;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
}

.mini-header{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1.5px;
    color: rgb(168, 168, 168);
}

.custom-button1{
    border-radius: 100px;
    padding: 10px 30px;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 30px 10px 25px 0;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.custom-button2{
    border-radius: 100px;
    padding: 10px 30px;
    background: linear-gradient(90deg, #ff440b, #ff6347);
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 30px 50px 25px 0px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.custom-button3{
    border-radius: 100px;
    padding: 10px 30px;
    background: linear-gradient(90deg, #00c52e,  #00c52e);
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.custom-button4{
    border-radius: 20px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #00c52e,  #00c52e);
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.custom-button5{
  border-radius: 10px;
  padding: 10px 40px;
  background: linear-gradient(90deg, #394EEA,  #446ce4);
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.features-text{
  text-align: left;
  padding-top: 20;
  font-size: 18;
  font-weight: 500;
  color: #555555;
}

.custom-button1, .custom-button2:hover{
    outline: none;
    cursor: pointer;
    border: none;
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #fafafa;
    border-radius: 100px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	display: inline-block;
}

.searchbar2{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 20px;
    height: 50px;
    background-color: #fafafa;
    border-radius: 100px;
    padding: 12px;
    /*box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	*/transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	display: inline-block;
}

.search_input{
    color: rgb(187, 187, 187);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    width: 400px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    caret-color:#446ce4;
}
.search_input::placeholder{
    color: rgb(187, 187, 187);
    font-size: 18px;
    padding-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.search_input2{
    color: rgb(187, 187, 187);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    width: 350px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    caret-color:#446ce4;
}
.search_input2::placeholder{
    color: rgb(187, 187, 187);
    font-size: 16px;
    padding-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.search_icon{
    height: 70px;
    width: 70px;
    padding: 0;
    float: right;
    padding-top: 5px;
    border-radius: 50%;
    color: #000000;
    text-decoration:none;
 }
 
 .search_icon2{
    padding-right: 20px;
    color: black;
 }
 a{
     text-decoration: none;
 }
.fa .fa-search{
     text-decoration: none;
 }

.reg-type-box1{
    background-color: #315EFF;
    height: 300px;
    width: 450px;
    color: #ffffff;
    float: right;
    /*box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);*/
    border-radius: 36px;
}

.reg-type-box2{
    background-color: #ffffff;
    height: 300px;
    width: 450px;
    float: left;
    /*box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);*/
    border-radius: 36px;

}

.custom-text1{
    font-weight: 300;  
    font-size: 3rem; 
}

.custom-text2{
    font-size: 18px;
    font-weight: 500;
}

.custom-text3{
    font-size: 30px;
    font-weight: 700;
}

.custom-text4{
    font-size: 12px;
    font-weight: 400;
}

.custom-text5{
    font-size: 24px;
    font-weight: 700;
}
.custom-text6{
  padding-top: 24px;
  font-size: 18px;
  font-weight: 500;
}
.custom-text7{
  font-size: 36px;
  font-weight: 700;
}


.card-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.label-text1{
    background-color: #bbccff;
    color: #000000;
    font-weight: 500;
    padding:2px 7px;
    border-radius: 5px;
    font-size: 10px;
}
.ratings-icons {
    color: #fec42d;
    margin-bottom: 15px;
}

.review-stats{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.rating-text{
  font-size: 21px;
  padding: 0;
}
.review-stats2{
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  color: #315EFF;
  font-weight: 500;
}

.service-description{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #666666;
  text-align: justify;
}

.book-tickets{
  background-color: rgb(227, 230, 255);
  height: 50;
  border-radius: 5px;
}

.custom-card{
    box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8), inset -6px -6px 10px rgba(255, 255, 255, 0.2);

}


label {
    color: black;
    font-weight: 600;
    font-size: 0.85em;
  }
  input:focus {
    outline: none;
  }
  .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  .form {
    display: flex;
    width: auto;
    background: #fff;
    margin: 5px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 5px #8080800f;
  }
  .sign-in-section {
    padding: 20px;
  }
  .sign-in-section h6 {
    margin-top: 0px;
    font-size: 0.75em;
  }
  .sign-in-section h1 {
    text-align: center;
    font-weight: 700;
    position: relative;
  }
  .sign-in-section h1:after {
    position: absolute;
    content: "";
    height: 5px;
    bottom: -15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40px;
  background: #394EEA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #394EEA,rgb(105, 123, 255));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #394EEA,rgb(105, 123, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .sign-in-section h1:hover:after {
    width: 100px;
  }
  .sign-in-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .sign-in-section ul > li {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    box-shadow: 0px 3px 1px #0000000f;
    border: 1px solid #e2e2e2;
  }
  .sign-in-section p {
    text-align: center;
    font-size: 0.85em;
  }
  .form-field {
    display: block;
    width: 300px;
    color: #000000;
    margin: 10px auto;
  }
  .form-field label {
    display: block;
    margin-bottom: 10px;
  }
  .form-field input[type="email"],
  input[type="password"] {
    padding: 12px;
    width: 300;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
  }
  .form-field input::placeholder {
    color: #e8e8e8;
  }
  .form-field input:focus {
    border: 1px solid #394EEA;
  }
  .form-field input[type="checkbox"] {
    display: inline-block;
  }
  .form-options {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 300px;
  }
  .checkbox-field {
    display: inline-block;
    float: left;
  }
  .form-options a {
    float: right;
    text-decoration: none;
  }
  .btn {
    padding: 15px;
    font-size: 1em;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin: 20px 0px;
    color: #fff;
  }
  .btn-signin {
    cursor: pointer;
  background: #394EEA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #394EEA,rgb(105, 123, 255));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #394EEA,rgb(105, 123, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  .links a:nth-child(1) {
    float: left;
  }
  .links a:nth-child(2) {
    float: right;
  }
  
  .select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
